.login-form {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
}
.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 40%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  outline: none;
  border: solid 2px black;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: red;
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}
.catagory__display{
  display: grid;
  grid-template-columns: repeat(4, 1fr);


}